@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sora:wght@100..800&display=swap");

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Sora", sans-serif;
  color: #7B7698;
  text-align: center;
}

.title h1{
  color: #53388E;
}

.title a{
  text-decoration: none;
  color: #53388E;
}

.title p{

}